flows/clickup-agent-simple.json
{
  "name": "ClickUp AI Agent - Simple",
  "nodes": [
    {
      "parameters": {
        "path": "clickup-agent-v2",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "clickup-agent-v2"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "user_id",
              "value": "={{ $json.body.user_id || 'andrew' }}"
            },
            {
              "name": "agent_mode", 
              "value": "={{ $json.body.agent_mode || 'task_manager' }}"
            },
            {
              "name": "operation",
              "value": "={{ $json.body.operation || 'create' }}"
            }
          ],
          "object": [
            {
              "name": "payload",
              "value": "={{ $json.body.payload || {} }}"
            }
          ]
        }
      },
      "id": "parse-request",
      "name": "Parse Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Simple environment variable test\nconst result = {\n  user_id: $input.item.json.user_id,\n  agent_mode: $input.item.json.agent_mode,\n  operation: $input.item.json.operation,\n  payload: $input.item.json.payload,\n  environment_check: {\n    anthropic: $env.ANTHROPIC_API_KEY ? 'Available' : 'Missing',\n    openai: $env.OPENAI_API_KEY ? 'Available' : 'Missing',\n    clickup: $env.CLICKUP_PERSONAL_TOKEN ? 'Available' : 'Missing',\n    supabase: $env.SUPABASE_SERVICE_KEY ? 'Available' : 'Missing'\n  },\n  timestamp: new Date().toISOString()\n};\n\nreturn result;"
      },
      "id": "process-request",
      "name": "Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "ClickUp AI Agent is working!"
            }
          ],
          "object": [
            {
              "name": "result",
              "value": "={{ $json }}"
            }
          ]
        }
      },
      "id": "final-response",
      "name": "Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Request": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York"
  },
  "versionId": "1",
  "id": "clickup-agent-simple",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
